:root {
    --button-opaque: #f2f2f2;
    --button-transparent: #f2f2f2b8;
    --panel-transparent: #f2f2f240;
    --background-opaque: #ffffff;
    --background-transparent: #ffffff33;
    --text-colour: black;
}

@media(prefers-color-scheme: dark) {
    :root {
        --button-opaque: #373737;
        --button-transparent: #373737b8;
        --panel-transparent: #37373740;
        --background-opaque: #1e1e1e;
        --background-transparent: #1e1e1e33;
        --text-colour: #DADADA;
    }    
}

html {
    overflow: hidden;
}

body {
    position: absolute;
    margin: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--background-opaque);
}

h1[title], p[title] {
    font-family: Arial, sans-serif;
    font-size: xx-large;
}

.centre {
    margin: auto;
    width: min(calc(100% - 16px), 800px);
    position: relative;
}

.proceed-card {
    background-color: var(--button-transparent);
    border-radius: 8px;
    padding: 8px;
    border: 1px solid transparent;
    transition: 0.2s border;
}

.proceed-card > h3 {
    margin-top: 0px;
}

.proceed-card:hover {
    border: 1px solid lightgray;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: min(calc(100% - 16px), 800px);
    left: 50%;
    backdrop-filter: blur(10px);
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 16px;
    transform: translateX(-50%);
}

.animate-top {
    position: relative;
    animation: animatetop 0.4s
}

@keyframes animatetop {
    from {
        top: -100px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}
