:root {
    --button-opaque: #f2f2f2;
    --button-transparent: #f2f2f2b8;
    --panel-transparent: #f2f2f240;
    --background-opaque: #ffffff;
    --background-transparent: #ffffff33;
    --text-colour: black;
}

@media(prefers-color-scheme: dark) {
    :root {
        --button-opaque: #373737;
        --button-transparent: #373737b8;
        --panel-transparent: #37373740;
        --background-opaque: #1e1e1e;
        --background-transparent: #1e1e1e33;
        --text-colour: #DADADA;
    }    
}

html {
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: var(--background-opaque);
}

h1[title], p[title] {
    font-family: Arial, sans-serif;
    font-size: xx-large;
    cursor: default;
}

span, p {
    cursor: default;
}

span, p, a {
    font-family: Arial, sans-serif;
}
a:link, a:visited {
    color: inherit;
}

.centre {
    width: min(calc(100% - 16px), 800px);
    position: relative;
    align-self: center;
}

.proceed-card {
    background-color: var(--button-transparent);
    border-radius: 8px;
    padding: 8px;
    border: 1px solid transparent;
    transition: 0.2s border;
}

.proceed-card > h3 {
    margin-top: 0px;
}

.proceed-card:hover, .footer {
    border: 1px solid lightgray;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: min(calc(100% - 16px), 800px);
    left: 50%;
    background-color: var(--button-transparent);
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 16px;
    transform: translateX(-50%);
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-size: 12px;
    transition: .4s padding-bottom;
}

.footer > *:not(:last-child) {
    margin-right: 4px;
    padding-right: 4px;
    position: relative;
}

.footer > *:not(:last-child)::after {
    width: 1px;
    top: 2px;
    height: calc(100% - 4px);
    background-color: black;
    display: inline;
    content: " ";
    position: absolute;
    right: 0px;
}

@media (orientation: portrait) {
    .footer {
        padding-bottom: 4px;
    }
}

.animate-top {
    position: relative;
    animation: animatetop 0.4s
}

@keyframes animatetop {
    from {
        top: -100px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}
